#header {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 12px;
}

#header .left-group {
  margin-right: auto;
}

#header .right-group {
  margin-left: auto;
}

#header .section {
  float: left;
  display: inline;
  width: 10em;
  margin: 0px 8px;
}

#open-tournament-section {
  /* This is for the positioning of the dropdown */
  position: absolute;
}
