#open-dialog {
  position: relative;
  display: inline-block;
  background: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  width: 30em;
  top: 4px;
  box-shadow: 10px 5px 5px var(--color-white);
}

#open-dialog .dropdown {
  position: absolute;
  display: inline-block;
  z-index: 1;
}

#open-dialog .dropdown-dialog-row:not(last-child) {
  display: block;
  background: var(--color-white);
  padding: 12px;
  font-size: var(--font-size);
  border-bottom: 1px solid var(--color-black);
}

#open-dialog .dropdown-dialog-row:hover {
  background: var(--color-subtle-highlight);
}
