#ranking-table table.result-table {
  margin-top: 24px;
  width: 100%;
}

#ranking-table th {
  text-align: left;
  font-weight: bold;
}

#ranking-table tr.dark {
  background: var(--color-subtle);
}

#ranking-table tr.departed {
  opacity: 0.6;
  font-style: italic;
}

#ranking-table table {
  border-collapse: collapse;
}
