#round-view .match {
  margin-bottom: 8px;
  padding: 4px 0px;
  background: var(--color-subtle);
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-evenly;
}

#round-view .match .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.points {
  font-weight: normal;
}

#round-view .match .result {
  display: flex;
  gap: 6px;
  font-size: var(--font-size);
  width: 4em;
}

#round-view .match .result .conjunctor {
  margin: auto;
}

#round-view .match:has(.result .set),
#round-view .match.freegame {
  background: var(--color-ok);
}

#round-view .match.tie,
#round-view .match.invalid {
  background: var(--color-alert-transparent);
}

#round-view.fixed-round .match,
#round-view.fixed-round .match .result .btn-result {
  background: var(--color-subtle) !important;
  color: var(--color-light) !important;
}

#round-view.fixed-round h2 {
  color: var(--color-light) !important;
}

#round-view .btn-result {
  background: white;
  border: None;
  width: calc(var(--font-size) + 24px);
  margin: auto 0;
  vertical-align: middle;
}
